@font-face {
  font-family: "ExtraLight";
  src: url("/fonts/Manrope-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Light";
  src: url("/fonts/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Regular";
  src: url("/fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Medium";
  src: url("/fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SemiBold";
  src: url("/fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Bold";
  src: url("/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ExtraBold";
  src: url("/fonts/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

.aspect-16-9 {
  aspect-ratio: 16 / 9;
}

.aspect-4-3 {
  aspect-ratio: 4 / 3;
}

.aspect-1-1 {
  aspect-ratio: 1 / 1;
}

p {
  font-family: "Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  li {
    font-size: 18px;
    line-height: 24px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family: "Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 75px;
  line-height: 75px;
  font-family: "SemiBold", sans-serif;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

h2 {
  font-size: 42px;
  line-height: 42px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
}

p {
  font-size: 20px;
  line-height: 28px;
  font-family: "Regular", sans-serif;
}

.container {
  max-width: 100% !important;
  width: 100% !important;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.cover-video-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.wp-h2 {
  p {
    font-size: 40px;
    line-height: 45px;
    letter-spacing: -0.02em;
    font-family: "Medium", sans-serif;
  }
}

.wp-h3 {
  p {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.01em;
    font-family: "Medium", sans-serif;
  }
}

.blog-description {
  p {
    font-size: 18px;
    line-height: 24px;
  }
}

.privacy-page {
  a {
    text-decoration: underline;
  }
}

.description-blog {
  p {
    font-size: 18px;
    line-height: 26px;
  }
}

.blog-slug-page {
  a {
    text-decoration: underline;
  }
}

.home-image {
  height: 800px;
  width: 100%;
  object-fit: cover;
}

.work-information {
  br {
    display: none;
  }
}

@media (min-width: 1920px) {
  .home-image {
    height: 1000px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }

  .description-blog {
    p {
      font-size: 16px;
      line-height: 22px;
    }
  }

  ul {
    li {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .blog-description {
    p {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .wp-h2 {
    p {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.02em;
      display: inline; 
    }
    br {
      display: none;
    }
  }

  .wp-h3 {
    p {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.01em;
    }
    br {
      display: none;
    }
  }

  h1 {
    font-size: 28px;
    line-height: 30px;
  }

  h3 {
    font-size: 20px;
    line-height: 24px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
  }
}

@keyframes drawLine {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.hr-draw {
  width: 0;
  transition: width 1s ease-out;
}

.aos-animate .hr-draw {
  width: 100%;
}
